{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "exclude": [
        "transform-typeof-symbol",
      ],
    }],
    ["@babel/preset-stage-2", {
      "decoratorsLegacy": true,
    }],
  ],
}
